.panzoomwidget {
    width: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .zoom-button {
        text-align: center;
        height: 20px;
        width: 100%;
        background-color: white;
        cursor: hand;
        border: 1px solid black;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .zoom-button:hover {
        background-color: #ccc;
    }
    .zoom-level {
        width: 100%;
        border-left: 2px solid black;
        margin-left: 10px;
    }
    .zoom-slider {
        position: relative;
        cursor: hand;
    }
    .zoom-slider-widget {
        position: absolute;
        width: 20px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 1);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
}
