<html ng-app="test">

<head>
    <link href="../release/panzoomwidget.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .pan-zoom-frame {
            border: 2px solid black;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body ng-controller="TestController">
    <div style="position:relative">
        <panzoomwidget panzoom-id="PanZoom" style="position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
        <panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="width:800px; height: 600px">
            <img src="images/shark_attack.jpg" style="position:absolute" />
            <svg style="position:absolute" width="800px" height="600px">
                <rect ng-repeat="rect in rects" ng-attr-x="{{rect.x}}" ng-attr-y="{{rect.y}}" ng-attr-width="{{rect.width}}" ng-attr-height="{{rect.height}}" rx="10" ry="10" style="fill:none;stroke-width:2;stroke:rgb(255,0,0)" />
            </svg>
        </panzoom>
    </div>

    <button type="button" class="btn" ng-click="zoomToShark()">Zoom to shark</button>
    <button type="button" class="btn" ng-click="zoomToChopper()">Zoom to chopper</button>
    <button type="button" class="btn" ng-click="zoomToLadder()">Zoom to ladder</button>
</body>

<script src="../bower_components/jQuery/dist/jquery.js"></script>
<script src="../bower_components/hamsterjs/hamster.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-mousewheel/mousewheel.js"></script>

<script src="../scripts/directives/panzoom.js"></script>
<script src="../scripts/services/PanZoomService.js"></script>
<script src="../scripts/directives/panzoomwidget.js"></script>
<script src="../scripts/controllers/TestController.js"></script>

</html>
